
<h1>Cometd demo</h1>

Examples from the
<a href="http://www.cometd.org">Dojox Cometd implementation of the
	Bayeux Protocol</a>
<p>
	Try the <a href="examples/chat/">chat demo</a>.<br /> Try the <a
		href="examples/echo">echo demo</a>.<br /> Try the <a
		href="examples/timesync">timesync demo</a>.<br />
</p>

Examples using the
<a href="http://code.google.com/p/jquerycomet/">Cometd plugin for
	jQuery</a>
<p>
	Try the <a href="examples/chat-jquery/">chat demo</a>.<br />
</p>
